.container {
  padding: 0px 2em;
}

.title-container {
  text-align: center;
  font-size: 3.5em;
}

.form-container {
  text-align: left;

  input {
    border-radius: 25px;
    font-size: 14px;
    margin-right: 60px;
    width: 300px;
    padding: 10px 20px;
  }

  button {
    border-radius: 25px;
    background-color: green;
    color: black;
    padding: 10px 20px;
    border: none;

    transition: all 400ms;
    &:hover {
      background-color: blue;
      color: white;
    }
  }
}
